@import "theme";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: space-around;
}

.container {
    * {
        margin: 10px;
        padding: 5px;
    }

    div {
        height: 50px;
        width: 75px;
    }

}

@include themify();

.theme--a {
    @include themify("a");
}

.theme--b {
    @include themify("b");
}
